<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Patient's note</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>
<body>
<div class="container">
  <div class="row"><h2>Patient's note</h2></div>
  <div class="row"><h3 th:text="${patientBean.getFullName()}"></h3></div>
  <div class="row">

    <form action="#" th:action="@{/patients/{id}/notes(id=${patientBean.id})}" th:object="${noteBean}" method="post" class="form-horizontal" style="width: 100%">
      <div class="form-group">
        <label for="note" class="col-sm-2 control-label">Note</label>
        <div class="col-sm-10">
          <textarea type="text" th:field="*{note}" id="note" placeholder="Note" class="col-10 " rows="5"></textarea>
          <p class="text-danger" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></p>
        </div>
      </div>

      <div class="col-sm-12">
        <a class="btn btn-danger btn-sm" href="/patients">Cancel</a>
        <input class="btn btn-primary btn-sm" type="submit" value="Add a note">
      </div>
    </form>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th> Date </th>
        <th> Notes </th>
        <th> Action </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="note : ${notes}">
        <td style="width: 25%" th:text="${#temporals.format(note.date, 'dd-MM-yyyy hh:mm')}"></td>
        <td th:utext="${note.note}"></td>
        <td style="width: 10%" class="text-center">
          <a th:href="@{/patients/{patientId}/notes/{noteId}(patientId=${note.patientId}, noteId=${note.noteId})}">Update</a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
</body>
</html>